:root {
  --main-color: #757575;
  --accent-color: #2196f3;
  --main-color-black: #212121;
  --bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --main-color-white: #fff;
  --bg-button: #f5f4fa;
}

body {
  /* margin-right: 15px;
  margin-left: 15px;
  max-width: 1600px; */

  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  background-color: var(--main-color-white);
}
/* css для сайта СТУДИЯ */

/* шапка сайта*/

/* логотип */
.logo {
  /* padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 215px; */

  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

/* цвет второй части логотипа в шапке сайта */
.header-logo {
  color: var(--main-color-black);
}

/* навигация в шапке сайта */
.list {
  list-style: none;
}

.nav-link {
  /* padding-top: 32px;
  padding-bottom: 32px; */

  color: var(--main-color-black);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* контакты в шапке сайта */
.contact-header {
  color: var(--main-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact-header:hover,
.contact-header:focus {
  color: var(--accent-color);
}

/* футер сайта */
footer {
  background-color: var(--bg-color);
}

/* цвет второй части логотипа в подвале сайта */
.footer-logo {
  color: var(--main-color-white);
}

/* адрес в подвале сайта */
.footer-address {
  color: var(--main-color-white);
}

/* контакты в подвале сайта */
.contact-footer {
  /* display: block;*/

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}

/* секция герой */
.hero {
  background-color: var(--bg-color);
}

/* заголовок секции герой */
.hero-title {
  /* padding-top: 215px;
  padding-bottom: 30px; */

  color: var(--main-color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  /* text-transform: uppercase; */
}

/* кнопка секции герой */
.hero-button {
  /* padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;

  margin-bottom: 200px; */

  color: var(--main-color-white);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);

  cursor: pointer;

  /* border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; */
}

/* секция наши преимущества "advantages"*/

.advantages-title {
  color: var(--main-color-black);
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  /* text-transform: uppercase; */
}

/* секция work*/
.work-title {
  color: var(--main-color-black);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* секция command */
.command {
  background-color: var(--section-bg-color);
}

/* заговок секции command */
.command-title {
  color: var(--main-color-black);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* имя членов команды */
.command-name {
  color: var(--main-color-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

/* професия членов команды */
.command-job {
  font-size: 16px;
  line-height: 1.19;
}

/* CSS для сайта ПОРТФОЛИО */
/* кнопки фильтра */

.btn {
  /* padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px; */

  color: var(--main-color-black);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  background-color: var(--bg-button);

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--main-color-white);
}

/* заголовок примеры работ */
.example-name {
  color: var(--main-color-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-link {
  text-decoration: none;
}

/* вид работы */
.exmple-job-name {
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.88;
}
