:root {
  --main-color: #434455;
  --accent-color: #404bbf;
  --main-color-black: #2e2f42;
  --bg-color: #2e2f42;
  --main-color-white: #ffffff;
  --section-bg-color: #f4f4fd;
  --bg-button: #4d5ae5;
  --animation: 0.3ms cubic-bezier(0.42, 0, 0.58, 1);
}

body {
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--main-color-white);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-title {
  font-size: 36px;
  line-height: 1.1;
  color: var(--main-color-black);
}

/* ================= HEADER ================= */

.header__logo {
  color: var(--main-color-black);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header__logo-accent {
  color: #4d5ae5;
}

.header__menu-link {
  color: var(--main-color-black);
}

.header__menu-link:hover,
.header__menu-link:focus {
  color: var(--accent-color);
}

.header__contacts-link {
  color: var(--main-color);
}

.header__contacts-link:hover,
.header__contacts-link:focus {
  color: var(--accent-color);
}

/* ================= HERO ================= */

.hero {
  background-color: var(--bg-color);
}

.hero__title {
  color: var(--main-color-white);
  font-size: 56px;
  line-height: 1.1;
}

.hero__button {
  color: var(--main-color-white);
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: var(--bg-button);
  border: none;
  cursor: pointer;
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--accent-color);
}

/* ================= FEATURURES ================= */

.features__subtitle {
  color: var(--main-color-black);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/* ================= OUR TEAM ================= */

.team__image {
  width: 264px;
}

.team__name {
  color: var(--main-color-black);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  background-color: var(--bg-color);
}

.footer__logo {
  color: var(--main-color-white);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__logo-accent {
  color: #4d5ae5;
}

.footer__text {
  color: #f4f4fd;
}
